/*
JS Persian Calendar - by MDTB
http://MDTB.ir/weblog
MDTB@MDTB.ir
*/

body {
	direction: rtl;
	font: 12px Tahoma;
}

.date-picker {
	font-weight: bold;
	line-height: 2em;
}

.pdate {
	border: solid 1px #66a5ff;
	direction: ltr;
}

.pcalBtn {
	text-decoration: none;
	color: #FF6A66;
}

.pcalBtn:hover {
	color: #FFA566;
}

.center {
	text-align: center;
}

/*p.box {*/
/*	background-color: #FFF5CC;*/
/*	border: solid 1px #FFA566;*/
/*	padding: 10px;*/
/*	border-radius: 3px;*/
/*	box-shadow: 0 0 2px 1px #fff inset, 0 0 1px rgba( 0, 0, 0, 0.3 );*/
/*	min-width: 500px;*/
/*}*/


/*input.wide {*/
/*	width: 250px;*/
/*}*/
